{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -ex

WINDOWS_HOME_DIR=$(wslpath $(/mnt/c/WINDOWS/system32/cmd.exe /c 'SET /P x=%USERPROFILE%<NUL' 2>/dev/null))

# WeZterm設定ファイルのコピー
WEZTERM_SOURCE_FILE="{{ .chezmoi.sourceDir }}/dot_wezterm_linux.lua"
WEZTERM_DEST_FILE="$WINDOWS_HOME_DIR/.wezterm.lua"
cp "$WEZTERM_SOURCE_FILE" "$WEZTERM_DEST_FILE"

# WSL設定ファイルのコピー
WSLCONFIG_SOURCE_FILE="{{ .chezmoi.sourceDir }}/dot_wslconfig"
WSLCONFIG_DEST_FILE="$WINDOWS_HOME_DIR/.wslconfig"
cp "$WSLCONFIG_SOURCE_FILE" "$WSLCONFIG_DEST_FILE"

{{- end -}}
