#!/bin/bash

set -ex

{{- if eq .chezmoi.os "linux" }}
echo "INstalling Homebrew for Linux..."

sudo apt update
{{ range .packages.wsl.apt }}
sudo apt install -y {{ . | quote }}
{{- end }}
if ! command -v brew &> /dev/null; then
    echo "Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "✅ Homebrew for Linux installed!"
else
    echo "✅ Homebrew is already installed"
fi

{{- else if eq .chezmoi.os "darwin" }}
echo "Installing Homebrew for macOS..."

if ! command -v brew &> /dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "✅ Homebrew for macOS installed!"
else
    echo "✅ Homebrew is already installed"
fi

{{- end }}
